@import "reset.css";

body {
    background-color: black;
}

h1 {
    color: #f857a8;
    font-family: 'Poppins'; sans-serif
    font-size: ;
}    

h3 {
    color: white;
    font-family: 'Poppins'; sans-serif
}