@import "reset.css";

body {
    background-color: black;
}

h1 {
    color: #f857a8;
    font-family: 'Poppins';
    font-size: 70px;
}    

h3 {
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
}

img {
    
}